*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: lightseagreen;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
table{
    background-color: tan;
}

.li1 {
    color: lightseagreen ;
}
.li2 a{
    color:brown;
}
footer{
    background-color: lightgreen;
    text-align: center;
    color: grey;
}